html {
  scroll-behavior: smooth;
}

body {
  /* min-width: 400px; */
  background: #cecece;
  margin: 0px;
  margin-top: 0;
  padding-top: 0;
}

.body .content {
  padding-top: 0px;
  margin-top: 0px;
}

/* navbar */
#trapezoid {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  border: 80px solid rgba(0, 0, 0, 0);
  border-top: 0 solid;
  border-bottom: 90px solid rgba(1, 1, 1, 0.4);
  -webkit-border-radius: 20px 20px 0 0;
  border-radius: 20px 20px 0 0;
  font: normal 100% / normal Arial, Helvetica, sans-serif;
  color: rgba(0, 0, 0, 0.7);
  -o-text-overflow: clip;
  text-overflow: clip;
  -webkit-transform: rotateX(180deg);
  transform: rotateX(180deg);
  margin-top: -50px;
  width: 410px;
  position: relative;
  transition: all 0.9s ease;
  padding-left: 2%;
}

#trapezoid a {
  -webkit-transform: rotateX(180deg);
  transform: rotateX(180deg);
}

.sub-home {
  display: none;
  position: absolute;
  right: 0;
  left: 0;

  z-index: 1;
  transform: perspective(-10px);
}

#trapezoid:hover .sub-home {
  justify-content: center;
  margin-top: 50px;
}

.navbar {
  position: sticky;
  top: 0;
  display: flex;
  overflow: hidden;
  justify-content: center;
  height: 100px;
  opacity: 50%;
}

.navbar a {
  float: left;
  font-size: 14px;
  color: white;
  text-align: center;
  padding: 14px 25px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: all 0.9s ease;
}

.navbar a:hover {
  background: #8ca6db;
  color: black;
  border-radius: 5px;
}

/* h1 {
  color: #111;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 200px;
  font-weight: bold;
  letter-spacing: -1px;
  text-align: center;
  padding: 0;
  margin: 0;
} */

p {
  color: #111;
  font-family: "Calibri", sans-serif;
  font-size: 25px;
  line-height: 1.5;
}

hr {
  background-color: #000;
}

/* hero section */
#hero {
  width: 100%;
  height: 100vh;
  background: url("../img/bg-baru.jpg") top center;
  background-size: cover;
  margin-top: -100px;
}
/* #hero .hero-container {
  position: relative;
  z-index: 2;
  min-width: 300px;
} */

#hero h1 {
  margin: 0 0 10px 0;
  font-size: 64px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
  padding-top: 250px;
  padding-left: 10rem;
}

#hero p {
  color: #fff;
  margin-bottom: 50px;
  font-size: 26px;
  font-family: "Poppins", sans-serif;
  padding-left: 10rem;
}

#hero p span {
  color: #fff;
  padding-bottom: 4px;
  letter-spacing: 1px;
  border-bottom: 3px solid #149ddd;
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}

@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }

  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}
