:root {
  --primary: #b9552d;
  --bg: #010101;
}

html {
  scroll-behavior: smooth;
  max-width: 2560px;
}

body {
  font-family: "Poppins", sans-serif;
  background: var(--bg);
  margin: 0px;
  margin-top: 0;
  padding-top: 0;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #b9552d;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  /* font-family: "Passion One", cursive; */
  font-style: oblique;
}

/* -------------------------------
# Header 
--------------------------------*/
#header {
  transition: all 0.5s;
  z-index: 997;
  transition: all 0.5s;
  height: 60px;
  background: var(--bg);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.12);
  opacity: 80%;
}

#header .logo h1 {
  font-size: 25px;
  margin: 0;
  padding: 6px 0;
  line-height: 1;
  font-weight: 500;
  letter-spacing: 3px;
  text-transform: uppercase;
}

#header .logo h1 a,
#header .logo h1 a:hover {
  color: #fff;
  text-decoration: none;
}

.scrolled-offset {
  margin-top: 60px;
}

/* ------------------------------
# Navbar 
-------------------------------*/
.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  list-style: none;
  align-items: center;
  display: flex;
}

.navbar li {
  position: relative;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-size: 1rem;
  color: #fff;
  white-space: nowrap;
  transition: 0.3s;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:hover {
  color: var(--primary);
}
.navbar a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--primary);
  transition: 0.2s linear;
  transform: scale(0);
}

.navbar a:hover::after {
  transform: scaleX(0.5);
}

.navbar .active,
.navbar .active:focus {
  color: var(--primary);
}

/* -----------------------------------
# Hero Section 
------------------------------------*/
#hero {
  width: 100%;
  height: 90vh;
  background: url("../img/bg-baru.jpg") top center;
  background-size: cover;
  padding: 0 15px;
}

#hero .hero-container {
  position: relative;
  z-index: 2;
  min-width: 300px;
}

#hero h1 {
  margin: 0 0 10px 0;
  font-size: 64px;
  font-weight: 600;
  line-height: 56px;
  color: #fff;
  padding-top: 5rem;
  padding-left: 10rem;
}

#hero p {
  color: #fff;
  margin-bottom: 50px;
  font-size: 26px;
  font-family: "Poppins", sans-serif;
  padding-left: 10rem;
}

#hero p span {
  color: #fff;
  padding-bottom: 4px;
  letter-spacing: 1px;
  font-size: 26px;
  font-family: "Poppins", sans-serif;
  border-bottom: 3px solid var(--primary);
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}

@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }
  #hero {
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }

  #hero p span {
    font-size: 18px;
  }
}

/* ================================= 
# About 
==================================*/
.about {
  width: 100%;
  padding: 90px 0px;
  /* background-color: rgb(255, 255, 255); */
}

.about img {
  height: auto;
  width: 400px;
  border-radius: 20px;
}

.about-text {
  width: 550px;
}

.about hr {
  width: 150px;
  height: 2px;
  margin-left: 2px;
  margin-top: -30px;
  border: none;
  background-color: #b9552d;
}

.main-about {
  width: 100%;
  /* max-width: 95%; */
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.about-text h1 {
  color: rgb(0, 0, 0);
  font-size: 60px;
  text-transform: capitalize;
  margin-bottom: 20px;
  font-weight: 600;
  font-style: oblique;
}

.about-text h1 span {
  color: #b9552d;
}

.about-text p {
  color: rgba(70, 70, 70, 0.8);
  letter-spacing: 1px;
  line-height: 20px;
  text-align: justify;
  font-size: 20px;
  margin-bottom: 45px;
}

/* ==================================== 
# Gallery img Education Start 
=====================================*/

.Education {
  background-color: #d6d4d4;
  height: 40rem;
}

.Education h2 {
  color: rgb(0, 0, 0);
  font-size: 60px;
  text-align: center;
  padding-top: 2rem;
  text-transform: capitalize;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  font-style: oblique;
}

/* .Education span {
  color: #b9552d;
} */

.Education hr {
  padding-top: -5rem;
  margin-top: -3rem;
  margin-bottom: 4rem;
  background-color: #b9552d;
  border: none;
  width: 9rem;
  height: 2px;
  text-align: center;
}

.main-education {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px auto 90px auto;
  padding-bottom: 3rem;
  justify-content: space-around;
}

.Education .main-education .img-container {
  position: relative;
  width: 300px;
}

.Education .main-education .img-container .img-education {
  display: block;
  width: 300px;
  height: auto;
  border-radius: 20px;
  transition: 0.5s;
}
.Education .main-education .img-container:hover {
  transform: scale(1.1);
  transition: 0.6s ease;
}

.Education .main-education .img-container:active {
  transform: scale(0);
  transition: 0.5s ease;
}

.Education .overlay-text-education {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #585555;
  overflow: hidden;
  width: 300px;
  height: 0;
  transition: 0.5s ease;
}

.Education .img-container:hover .overlay-text-education {
  height: 20%;
  border-radius: 10px;
  border-bottom-left-radius: 10px;
}

.Education .text-education {
  white-space: nowrap;
  color: white;
  font-size: 15px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.Education .text-education a {
  color: white;
  text-decoration: none;
}

/* =========================================
# Contact Start 
==========================================*/

.Contact {
  padding: 1rem;
  padding-top: 3rem;
  height: 600px;
  /* text-align: center; */
  box-sizing: border-box;
  border-radius: 100px;
  margin-bottom: 10rem;
}

.Contact .contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
}

.Contact .contact-container .contact-main {
  height: 330px;
  width: 300px;
  padding: 2rem;
  background-color: #b6b3b260;
  border-radius: 40px;
}

.contact-main .form-grup {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px 10px;
  border: none;
  /* align-items: center; */
  /* filter: blur(10px); */
}

.contact-main .form-grup input {
  height: 30px;
  width: 260px;
  border: none;
  outline: none;
  padding: 1.2px;
  border-bottom: 1px solid #000000a6;
  text-align: 6px;
  font-size: 13px;
  font-family: "Poppins", sans-serif;
  font-weight: 28px;
  background-color: transparent;
}
.contact-main .form-grup textarea {
  height: 200px;
  width: 260;
  margin-top: 10px;
  outline: none;
  border-radius: 8px;
  background-color: transparent;
}

.contact-container .contact-main button {
  margin-left: 1rem;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  line-break: 2px;
  letter-spacing: 1.6;
  background-color: transparent;
  border-radius: 5px;
  outline: 0.5px black;
  margin: 5px 10px;
  width: 80px;
  /* display: flex; */
  /* border: none; */
}

.contact-container .contact-main button::before {
  content: "";
  position: absolute;
  background: linear-gradient(
    0deg,
    transparent,
    transparent,
    #45f3ff,
    #45f3ff,
    #45f3ff
  );
}

.Contact .contact-container h1 {
  text-align: center;
  font-size: 50px;
  font-family: "Poppins", sans-serif;
  font-style: oblique;
  margin-top: -1rem;
}

.Contact .contact-container hr {
  width: 70px;
  height: 2px;
  background-color: #b9552d;
  margin-top: -2rem;
  margin-bottom: 3rem;
  margin-left: 33rem;
}

.Contact .contact-container span {
  color: #b9552d;
}

.boxContact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: center; */
  min-height: 100vh;
  padding-bottom: 5rem;
}

.boxContact .contact-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  padding-bottom: 5rem;
}

.boxContact .contact-content .mapcontact {
  padding: 60px;
}
.boxContact .mapcontact h2 {
  /* display: flex;
  flex-direction: column; */
  font-size: 60px;
  margin-bottom: -10px;
  font-family: "Poppins", sans-serif;
  color: rgb(0, 0, 0);
  text-transform: capitalize;
  font-weight: 600;
  font-style: oblique;
}

.boxContact .mapcontact h2 span {
  color: #b9552d;
}

.boxContact .mapcontact .pre p {
  font-size: 17px;
  padding-right: 10px;
  width: 600px;
  /* height: 300px; */
}

.boxContact .mapcontact hr {
  background-color: #b9552d;
  height: 2px;
  width: 150px;
  margin-left: 2px;
  border: none;
  margin-top: -10px;
  margin-bottom: 30px;
}

.boxContact .mapcontact .info {
  display: flex;
  flex-direction: column;
  line-height: 24px;
}

.boxContact .mapcontact .info p,
.boxContact .mapcontact .info i {
  font-size: 32px;
  display: flex;
}

/* Contact Bootstraps */

.contact .contact-about h3 {
  font-size: 36px;
  margin: 0 0 10px 0;
  padding: 0;
  line-height: 1;
  font-weight: 300;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.contact .social-links {
  padding-bottom: 20px;
}

.contact .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #fff;
  color: #b9552d;
  line-height: 0;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 4px;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
  border: 1px solid #b9552d;
}

.contact .social-links a:hover {
  background: #b9552d;
  color: #fff;
}

.contact .info {
  color: #5a656e;
}

.contact .info i {
  font-size: 32px;
  color: #b9552d;
  line-height: 0;
  margin-right: 15px;
}

.contact .info p {
  font-size: 14px;
  margin: 0;
}

/* ==================================
# Footer 
===================================*/
footer {
  background-color: #b9552d;
  width: auto;
  position: relative;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .sosmed {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0px;
}

footer .sosmed li {
  list-style: none;
}

footer .sosmed li a {
  font-size: 1.5em;
  color: #111;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}

footer .sosmed li a:hover {
  transform: translateY(-10px);
}

footer p {
  margin: 0;
  padding: 8px;
  letter-spacing: 1px;
  font-size: 1.1em;
  text-decoration: none;
}

footer p a {
  text-align: center;
  text-decoration: none;
  color: #1c1b1f;
}

footer .wave {
  position: absolute;
  top: -80px;
  left: 0;
  width: 100%;
  height: 80px;
  background: url(../img/gelombang.png);
  background-size: 1000px 100px;
}

footer .wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWave 4s linear infinite;
}
footer .wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animateWave_02 4s linear infinite;
}
footer .wave#wave3 {
  z-index: 1000;
  opacity: 0.2;
  bottom: 0;
  animation: animateWave 3s linear infinite;
}
footer .wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 10px;
  animation: animateWave_02 3s linear infinite;
}

@keyframes animateWave {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-position-x: 0px;
  }
}
@keyframes animateWave_02 {
  0% {
    background-position-x: 0px;
  }
  100% {
    background-position-x: 1000px;
  }
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 380px;
  height: 500px;
  /* background: #1c1c1c; */
  border-radius: 8px;
  overflow: hidden;
}

.box::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 380px;
  height: 500px;
  background: linear-gradient(
    0deg,
    transparent,
    transparent,
    #ff8f45,
    #ff8f45,
    #ff8f45
  );
  z-index: 1;
  transform-origin: bottom right;
  animation: animate 6s linear infinite;
}
.box::after {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 380px;
  height: 500px;
  background: linear-gradient(
    0deg,
    transparent,
    transparent,
    #e44545,
    #e44545,
    #e44545
  );
  z-index: 1;
  transform-origin: bottom right;
  animation: animate 6s linear infinite;
  animation-delay: -3s;
}

.borderline {
  position: absolute;
  top: 0;
  inset: 0;
}

.borderline::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 380px;
  height: 500px;
  background: linear-gradient(
    0deg,
    transparent,
    transparent,
    #ff8f45,
    #ff8f45,
    #ff8f45
  );
  z-index: 1;
  transform-origin: bottom right;
  animation: animate 6s linear infinite;
  animation-delay: -1.5s;
}

.borderline::after {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 380px;
  height: 500px;
  background: linear-gradient(
    0deg,
    transparent,
    transparent,
    #e44545,
    #e44545,
    #e44545
  );
  z-index: 1;
  transform-origin: bottom right;
  animation: animate 6s linear infinite;
  animation-delay: -4.5s;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.box form {
  position: absolute;
  inset: 4px;
  background: #837f7f;
  padding: 50px 40px;
  border-radius: 8px;
  z-index: 2;
  display: flex;
  flex-direction: column;
}

.box form h2 {
  color: #fff;
  font-weight: 500;
  text-align: start;
  letter-spacing: 0.1em;
}

.box form hr {
  width: 100%;
  height: 1px;
  text-align: start;
  justify-content: start;
  margin-top: -15px;
  background: #fff;
}

.box form .inputBox {
  position: relative;
  width: 300px;
  margin-top: 35px;
}

.box form .inputBox input,
.box form .inputBox textarea {
  position: relative;
  width: 100%;
  padding: 20px 10px 10px;
  background: transparent;
  border: none;
  outline: none;
  box-shadow: none;
  color: #1c1c1c;
  font-size: 1em;
  letter-spacing: 0.1em;
  transition: 0.5s;
  z-index: 10;
}

.box form .inputBox span {
  position: absolute;
  left: 0;
  padding: 20px 10px 10px;
  transition: 0.5s;
  pointer-events: none;
  color: #d6d4d4;
  font-size: 1.1em;
  letter-spacing: 0.05em;
  margin-top: -3em;
}

.box form .inputBox input:valid ~ span,
.box form .inputBox input:focus ~ span {
  color: #d6d4d4;
  font-size: 0.85em;
  transform: translateY(-34px);
}

.box form .inputBox textarea:valid ~ span,
.box form .inputBox textarea:focus ~ span {
  color: #b9552d;
  font-size: medium;
  transform: translateY(-34px);
}

.box form .inputBox i {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #cecece;
  border-radius: 4px;
  overflow: hidden;
  transition: 0.5s;
  pointer-events: none;
}

.box form .inputBox input:valid ~ i,
.box form .inputBox input:focus ~ i {
  height: 2em;
}

.box form input[type="submit"] {
  border: none;
  outline: none;
  padding: 9px 25px;
  background: #ffff;
  cursor: pointer;
  font-size: 15px;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  font-weight: 550;
  width: 100px;
  margin-top: 20px;
}
.box form input[type="submit"]:active {
  opacity: 0.8;
}
