html {
  scroll-behavior: smooth;
}

.body {
  background-color: rgb(204, 204, 204);
}

.navbar {
  padding: 0px;
}

.navbar .nav {
  position: fixed;
  top: 0;
  align-items: center;
  justify-content: space-between;
  list-style: none;

  display: flex;
  flex-direction: row;
  float: left;
}

.navbar .nav li {
  display: block;
  padding: 10px;
  text-align: center;
}

.navbar .nav a {
  text-decoration: none;
}
